@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Block: Button
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: toRem(16);
  font-size: toRem(14);
  line-height: 1.5;
  border-radius: toRem(8);
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;

  // Modifier: Primary
  &--primary {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: color.adjust($color-primary, $lightness: -5%);
      border-color: color.adjust($color-primary, $lightness: -5%);
    }

    &:disabled {
      background-color: color.adjust($color-primary, $lightness: 20%);
      border-color: transparent;
      cursor: not-allowed;
    }
  }

  // Modifier: Outline
  &--outline {
    background-color: transparent;
    border-color: $text-color-secondary;
    color: $text-color-secondary;

    &:hover {
      background-color: rgba($text-color-secondary, 0.1);
      border-color: $text-color-primary;
      color: $text-color-primary;
    }
  }

  // Modifier: Danger
  &--danger {
    color: $color-white;
    background-color: $color-danger;
    border-color: $color-danger;

    &:hover {
      background-color: color.adjust($color-danger, $lightness: -5%);
      border-color: color.adjust($color-danger, $lightness: -5%);
    }

    // &:focus {
    //   box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.5);
    // }
  }
}
