@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Block: Button
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: toRem(16);
  font-size: toRem(14);
  line-height: 1.5;
  border-radius: toRem(8);
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;

  // Modifier: Primary
  &--primary {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: color.adjust($color-primary, $lightness: -5%);
      border-color: color.adjust($color-primary, $lightness: -5%);
    }
  }
}
