@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.user-details {
  // Profile Header Card
  &__profile-card {
    background: $color-white;
    border: 1px solid rgba($color-border, 0.06);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
    border-radius: toRem(4);
    padding: toRem(30) toRem(30) 0 toRem(30);
    margin-bottom: toRem(30);
  }

  &__profile-info {
    display: flex;
    align-items: center;
    gap: toRem(30);
    margin-bottom: toRem(50);
    flex-wrap: wrap;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__avatar-wrapper {
    width: toRem(100);
    height: toRem(100);
    background: rgba(33, 63, 125, 0.16);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #213f7d;
    font-size: toRem(40);
  }

  &__name-section {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    padding-right: toRem(30);
    border-right: 1px solid rgba($color-border, 0.2);

    @media (max-width: $breakpoint-tablet) {
      border-right: none;
      padding-right: 0;
    }
  }

  &__fullname {
    font-size: toRem(22);
    font-weight: 500;
    color: $text-color-primary;
  }

  &__id {
    font-size: toRem(14);
    color: $text-color-secondary;
  }

  &__tier-section {
    padding: 0 toRem(30);
    border-right: 1px solid rgba($color-border, 0.2);
    display: flex;
    flex-direction: column;
    gap: toRem(10);

    @media (max-width: $breakpoint-tablet) {
      border-right: none;
      padding: 0;
    }
  }

  &__tier-label {
    font-size: toRem(14);
    color: $text-color-secondary;
  }

  &__stars {
    display: flex;
    gap: toRem(4);
    color: #e9b200;
  }

  &__bank-section {
    padding-left: toRem(30);

    @media (max-width: $breakpoint-tablet) {
      padding-left: 0;
    }
  }

  &__amount {
    font-size: toRem(22);
    font-weight: 500;
    color: $text-color-primary;
    margin-bottom: toRem(5);
  }

  &__bank-details {
    font-size: toRem(12);
    color: $text-color-secondary;
  }

  // Tabs
  &__tabs {
    display: flex;
    gap: toRem(50);
    overflow-x: auto;

    // Hide scrollbar
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tab {
    padding-bottom: toRem(10);
    font-size: toRem(16);
    color: $color-black; // Default black as in design might change
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    transition: all 0.2s;

    &--active {
      color: $color-primary;
      border-bottom-color: $color-primary;
    }

    &:hover:not(&--active) {
      color: $color-primary;
    }
  }
}
