@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.dashboard {
  &__section {
    margin-top: toRem(40);
  }

  &__welcome-card {
    margin-top: toRem(60);
    padding: toRem(40);
    background-color: $color-white;
    border-radius: toRem(4);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text-color-secondary;
    min-height: toRem(300);
  }

  &__image {
    width: toRem(200);
    margin-bottom: toRem(20);
    opacity: 0.5;
  }

  &__welcome-title {
    font-size: toRem(24);
    margin-bottom: toRem(10);
    color: $color-primary;
    font-weight: 600;
  }

  &__welcome-text {
    font-size: toRem(14);
  }
}
