// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use "sass:math";

// Function: Convert px to rem
@function toRem($pixels) {
  @if math.is-unitless($pixels) {
    @return math.div($pixels, 16) * 1rem;
  }
  @return math.div($pixels, 16px) * 1rem;
}

// Example Mixin: Center an element
@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-body-flex {
  display: flex;
  min-height: 100vh;
}
