@charset 'UTF-8';

// 1. Abstracts
@use "abstracts/variables";
@use "abstracts/mixins";

// 2. Vendors
@use "vendors/normalize";

// 3. Base
// @use 'base/reset';
@use "base/fonts";
@use "base/typography";

// 4. Layout
@use "layout/auth-layout";
// @use 'layout/navigation';
// @use 'layout/grid';
// @use 'layout/header';
// @use 'layout/footer';
// @use 'layout/sidebar';
// @use 'layout/forms';

// 5. Components
@use "components/header";
@use "components/sidebar";
@use "components/dropdown-menu";
// @use 'components/buttons';
@use "components/form";
@use "layout/dashboard";
// @use 'components/carousel';
// @use 'components/cover';
// @use 'components/dropdown';

// 6. Pages
// @use 'pages/home';
@use "pages/login";
// @use "pages/users";
// @use "pages/user-details";

// 7. Themes
// @use 'themes/default';
// @use 'themes/admin';
