@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

// Table Container
.users-page__table-wrapper {
  background: $color-white;
  border: 1px solid rgba($color-border, 0.06);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  border-radius: toRem(4);
  padding: toRem(30);
  overflow-x: auto;
}

.users-page__table {
  width: 100%;
  border-collapse: collapse;
  min-width: toRem(900); // Ensure table doesn't squish

  th {
    text-align: left;
    padding: toRem(16);
    font-size: toRem(12);
    color: $text-color-secondary;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;

    .filter-icon {
      margin-left: toRem(8);
      cursor: pointer;
      vertical-align: middle;
    }
  }

  td {
    padding: toRem(20) toRem(16);
    font-size: toRem(14);
    color: $text-color-secondary;
    border-bottom: 1px solid rgba($color-border, 0.1);

    &:last-child {
      text-align: right;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }
}

// Status Badges
.users-page__status {
  display: inline-block;
  padding: toRem(6) toRem(16);
  border-radius: toRem(100);
  font-size: toRem(12);
  font-weight: 500;
  text-transform: capitalize;

  &--active {
    background-color: rgba(57, 205, 108, 0.06);
    color: #39cdcc;
  }
  &--inactive {
    background-color: rgba(84, 95, 125, 0.06);
    color: #545f7d;
  }
  &--pending {
    background-color: rgba(233, 178, 0, 0.1);
    color: #e9b200;
  }
  &--blacklisted {
    background-color: rgba(228, 3, 59, 0.1);
    color: #e4033b;
  }
}

// Filter Icon
.filter-icon {
  color: $text-color-secondary;
  font-size: toRem(20);
  cursor: pointer;
  vertical-align: middle;
}
