@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.users-page {
  // Page Title
  &__title {
    color: $text-color-primary;
    font-size: toRem(24);
    font-weight: 500;
    margin-bottom: toRem(40);
  }
}
